*{
    aborder-width: 1px;
    aborder-style: dotted;
    aborder-color: #FF0000;
    background-color: rgba(211, 238, 238, 0.698);
    }

::-webkit-scrollbar {
    color: yellow;
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: tomato;
    box-shadow: 0 -100vh 0 100vh tomato;

}

h2 {
    background-color: rgba(57, 131, 180, 0.534);
    color: white;
    height: auto;
    width:fit-content;
    border-left: 10px ridge rgb(130, 129, 134);  
    /*atext-decoration: underline  ;*/
    border-radius: 5px;
    font-style : italic;
    padding: 10px;
    margin : auto;
    font-size: 40px;
    text-align: center;

}

li::before{
    content: "🍴";
    
  }

  
ul {
    list-style-type: none;
}

footer {
    position:relative;
    font-size: 30px;
    background-color: black;
    color: white;

   
}
