

/* GENERAL*/
.h3Titre{
    text-align: center;
	color: white;
	font-style: italic;
	border: 1px dotted white;
    background-color: #82A6CD;
}

.flexCentre {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* espace les élements sans marges entre eux*/
.flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.colorBleu {
    color: blue;
    
}

.colorBleuClair {
    color: #deebff;
    
}

.colorGris {
    color: #f2f2f2;
    
}


.backBleu {
    background-color: blue;
    
}

.backBleuClair {
    background-color: #deebff;
    
}

.backGris {
    background-color: #f2f2f2;
    
}
/* NAV */
.sizeLiens {
    width: 45%;
}



.decorationNone {
    text-decoration: none;
}

.bordureNone {
    border: none;
}

.texteGras {
    font-weight: bold;
}

.sizeLien {
    width: 140px;
    height: 99px;
}

.bordureNav {
    border-top : 1px solid blue;
}

.bordureNav23 {
    border-top : 1px solid transparent;
}

.sizeNav {
height: 100px;
}

/*Header*/

.bordureSearch {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}

.paddingSearch {
    padding-left : 20px;
}

.iconSize {
    height: 50px;
    width: 50px;
    border-radius: 10px 0px 0px 10px;
}

.buttonSearch {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.recherche {
    height : 50px;
    width: 230px;
    font-size: 18px;
    color:black;
    font-weight: bold;
}

/* FILTRES */
.margFiltre {
    margin-top: 50px;
    margin-bottom:40px;
}
.filtre {
    display: flex;
    align-items: center;
}

.margFiltreTitre {
    margin-right: 20px;
}

.filtreTexteIcons {
    border : 2px solid #f2f2f2;
    height: 50px; 
    border-radius: 30px;
    margin-right: 20px;
}

.filtreTexteIcons:hover > .filtreTexte {
    color: blue;
}

.filtreTexteIcons:hover > .filtreIcons {
    color: white;
    background-color: blue;
}

.filtreTexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px 25px 25px 0px;
}


.filtreIcons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: blue;
    background-color: #deebff;
    
}

.filtreIcons i {
    position:relative;
    top: 30%;
    left: 20%;
}


/* css pour liste */

.listeCoteNav {
    flex-basis: 25%;
    max-width: 100%;
    flex-grow: 1;
    margin-bottom: 8px;
}

.listeCoteUl {
    display: flex;
    flex-wrap: wrap;
}

.listeCoteUl li {
    list-style: none;
}

.listeCoteUl a {
    text-decoration: none;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}






/* ajout de toute la page css.ca */

/* COMMUNE A TOUTE LES PAGES */

 

    



