html, body {
	margin: 0px auto;
	text-align: center;
	background-color: #ffff89;
}

.mail{
	background-color: #333;
	padding: 10px;
	border-radius: 10px;
	color: white;
	margin-left: auto;
    width: 400px;
    margin-right: auto;
}

.phrase{
	font-size: 65%;
	opacity: 0.65;
}