/* colonnes */
.col1{
	width: 270px;
	padding: 20px;
	float: left;
	margin-right: 10px;
}

.col2{
	width: 270px;
	padding: 20px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.col3{
	width: 270px;
	padding: 20px;
	float: right;
	margin-left: 10px;
}